
.coulddo-container {
    width: 20%;
    padding: 1rem;
    border: 3px solid #260259;
    border-radius: 15px;
    display:flex;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.input-btns-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.add-input-btn {
    background-color: #05C7F2;
    width: 5rem;
    height: auto;
    font-size: 2rem;
    border-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.remove-input-btn {
    background-color: #BF1111;
    width: 5rem;
    height: auto;
    font-size: 2rem;
    border-radius: 50px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.add-input-btn:hover, .remove-input-btn:hover {
    border-style: inset;
}